<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.wms.storage.mapper.ComputerMapper">
    <resultMap id="computer" type="com.pp.wms.storage.domain.Computer">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="brand" jdbcType="VARCHAR" property="brand"/>
        <id column="ram" jdbcType="INTEGER" property="ram"/>
        <id column="rom" jdbcType="INTEGER" property="rom"/>
        <id column="amount" jdbcType="BIGINT" property="amount"/>
        <id column="create_time" jdbcType="DATE" property="createTime"/>
        <id column="update_time" jdbcType="DATE" property="updateTime"/>
        <id column="comment" jdbcType="VARCHAR" property="comment"/>
    </resultMap>
    <!--<sql id="all_column">-->
    <!--id,brand,ram,rom,amount,create_time,update_time,comment-->
    <!--</sql>-->
    <!--<sql id="sql_count">select count(*)</sql>-->
    <select id="getAllComputers" resultMap="computer">
        SELECT id,brand,ram,rom,amount,create_time,update_time,comment
        FROM computer
--         WHERE 1 = 1
        <!--<if test="params.id != null or params.id != ''">-->
            <!--AND id = ${params.id}-->
        <!--</if>-->
        <!--<if test="params.brand != null or params.brand != ''">-->
            <!--AND brand LIKE '%${params.brand}%'-->
        <!--</if>-->
        <!--<if test="params.ram != null or params.ram != ''">-->
            <!--AND ram &gt; ${params.ram}-->
        <!--</if>-->
        <!--<if test="params.rom != null or params.rom != ''">-->
            <!--AND rom &gt; ${params.rom}-->
        <!--</if>-->
        <!--<if test="params.amount != null or params.amount != ''">-->
            <!--AND amount &gt; ${params.amount}-->
        <!--</if>-->
        <!--<if test="params.comment != null or params.comment != ''">-->
            <!--AND comment LIKE '%${params.comment}%'-->
        <!--</if>-->
    </select>
</mapper>